manual-pagination/src/main/app/manual-pagination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="pocbatch" doc:name="MySQL Configuration"/>
    <asynchronous-processing-strategy name="asyncProcessingStrategy" maxThreads="50" minThreads="15" doc:name="Asynchronous Processing Strategy"/>
    <flow name="buildingQueryFlow">
    	<file:inbound-endpoint name="File" path="/home/victor/pocs/batch/toProcess/input" moveToDirectory="/home/victor/pocs/batch/toProcess/output" responseTimeout="10000" doc:name="File" mimeType="application/csv" pollingFrequency="10000">
            <file:filename-regex-filter pattern=".*csv" caseSensitive="true"/>
        </file:inbound-endpoint>
        <set-variable variableName="newInputStream" value="#[new java.io.BufferedReader(new java.io.InputStreamReader(new java.io.FileInputStream(new File(flowVars.originalDirectory, flowVars.originalFilename))))]" doc:name="Create New Stream"/>
        <set-variable variableName="batchSize" value="#[Integer.parseInt(${batchSize})]" doc:name="Batch Size"/>
        <logger message="Batch Size: #[flowVars.batchSize]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="pages" value="#[new ArrayList()]" doc:name="Pages Variable"/>
        <component class="com.iocs.manual.PaginationCalculator" doc:name="Pagination Calculator"/>
        <logger message="Pages calculated: #[flowVars.pages.size()]" level="INFO" doc:name="Logger"/>
        <foreach collection="#[flowVars.pages]" doc:name="For Each">
            <set-variable variableName="query" value="#[new java.lang.StringBuilder()]" doc:name="Query Variable"/>
            <component class="com.iocs.manual.QueryBuilder" doc:name="Query Builder"/>
            <set-payload value="#[flowVars.query.toString()]" doc:name="Set Payload"/>
            <flow-ref name="databaseUpsertFlow" doc:name="databaseUpsertFlow"/>
        </foreach>
        <logger message="All records were processed" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="databaseUpsertFlow" processingStrategy="asyncProcessingStrategy">
        <db:bulk-execute config-ref="MySQL_Configuration" doc:name="Database"><![CDATA[#[payload]]]></db:bulk-execute>
    </flow>
</mule>
